<% if comment.persisted? %>
  <% unless comment.reply? %>
    <%= turbo_frame_tag comment do %>
      <%= render "comments/comment_helper", comment: comment %>
    <% end %>
    <div class="ms-4">
      <%= render "replies/form", post: comment.post, comment: comment %>
      <% unless comment.replies.empty? %>
        <h3 class="mt-3 ms-4 fs-6 badge round-pill bg-secondary">Replies</h3>
        <% comment.replies.each do |reply| %>
          <div class="ms-5">
            <hr>
            <%= turbo_frame_tag reply do %>
              <%= render "comments/comment_helper", comment: reply %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <hr>
    </div>
  <% end %>
<% end %>
