<% if @comment&.persisted? %>
  <%= turbo_frame_tag @comment do %>
    <%= form_with model: [@post, @comment] do |form| %>
      <div class="mt-5">
        <%= form.label :content, "Add your thoughts", class: "form-label" %>
        <%= form.text_area :content,
                       class: "form-control",
                       required: true,
                       placeholder: "Enter your thoughts here..." %>
      </div>
      <div>
        <%= form.submit class: "btn btn-secondary mt-2" %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <%= form_with model: [@post, @comment || @post.comments.build] do |form| %>
    <div class="mt-5">
      <%= form.label :content, "Add your thoughts", class: "form-label" %>
      <%= form.text_area :content,
                     class: "form-control",
                     required: true,
                     placeholder: "Enter your thoughts here..." %>
    </div>
    <div>
      <%= form.submit class: "btn btn-secondary mt-2" %>
    </div>
  <% end %>
<% end %>
