<%= content_for(:title, "AuthPost | #{@post.author.username} - #{@post.title}") %>
<div class="m-auto">
  <div class="mb-2 d-flex gap-2 flex-wrap">
    <%= link_to "Back to posts", posts_path, class: "btn btn-secondary" %>
    <% if user_signed_in? && current_user == @post.author %>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-info" %>
    <% end %>
    <% if user_signed_in? && current_user == @post.author %>
      <%= link_to "Delete",
      @post,
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?",
      },
      class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
<article
  <%= dom_id(@post) %> class="card-body">
  <h2 class="card-title fs-3 text-info"><%= @post.title %></h2>
  <% if user_signed_in? %>
    <%= render "post_details", post: @post %>
  <% end %>
  <p class="card-text">
    <%= @post.content %>
  </p>
</article>
<% if user_signed_in? %>
  <%= render "comments/form", post: @post %>
  <div class="mt-4 card p-4">
    <div class="card-body">
      <h2 class="card-title">Comments</h2>
      <hr>
      <% if @post.comments.size.zero? %>
        <h3 class="fs-5">No comments</h3>
      <% else %>
        <h3 class="fs-5"><%= pluralize(@post.comments.count, "comment") %></h3>
        <%= render @post.comments.load %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= link_to "Log in to view and add a comment!",
  new_user_session_path,
  class: "btn btn-warning" %>
<% end %>
