<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "ConnectHub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark">
        <div class="container-fluid">
          <%= link_to "ConnectHub", root_path, class: "navbar-brand" %>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link active", aria_current: "page" %>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">

                <li class="nav-item">
                  <%= link_to "https://github.com/nanafox/members-only", class: "nav-link d-flex align-items-center text-decoration-none", target: "_blank" do %>
                    <i class="bi bi-github me-2"></i>Source Code
                  <% end %>
                </li>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search for posts"
                aria-label="Search"
              >
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if user_signed_in? %>
                  <li nav-item><%= link_to "Profile", edit_user_registration_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "Sign out",
                    destroy_user_session_path,
                    data: {
                      turbo_method: :delete,
                    },
                    class: "nav-link" %></li>
                <% else %>
                  <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <% if notice %>
        <p class="notice alert alert-info mt-2" role="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-warning mt-2" role="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
    <%= tag.footer(class: "bg-dark text-white mt-5 py-4 position-relative") do %>
      <%= tag.div(class: "container") do %>
        <%= tag.div(class: "row") do %>
          <!-- About Section -->
          <%= tag.div(class: "col-md-4 mb-3") do %>
            <h5>About Us</h5>
            <p>We provide members-only content to our amazing community. Join us
              and start sharing today!</p>

            <p>This project is part of the
              <%= link_to "The Odin Project",
              "https://theodinproject.com",
              class: "text-white link-opacity-75-hover" %>
              Ruby on Rails curriculum</p>
          <% end %>
          <!-- Quick Links Section -->
          <%= tag.div(class: "col-md-4 mb-3") do %>
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
              <li><%= link_to "Home", root_path, class: "text-white text-decoration-none" %></li>
              <li><%= link_to "About", "#", class: "text-white text-decoration-none" %></li>
              <li><%= link_to "Register",
                new_user_registration_path,
                class: "text-white text-decoration-none" %></li>
              <li><%= link_to "Sign in",
                new_user_session_path,
                class: "text-white text-decoration-none" %></li>
            </ul>
          <% end %>
          <!-- Contact Section -->
          <%= tag.div(class: "col-md-4 mb-3") do %>
            <h5>Contact Me</h5>
            <address>
              <strong>Maxwell Nana Forson</strong><br>
            </address>
            <div id="links">
              <div>
                <%= link_to "https://github.com/nanafox", class: "text-white me-3 d-flex align-items-center text-decoration-none", target: "_blank" do %>
                  <i class="bi bi-github me-2"></i>Connect with me on GitHub
                <% end %>
              </div>

              <div>
                <%= link_to "https://x.com/_nanafox", class: "text-white me-3 d-flex align-items-center text-decoration-none", target: "_blank" do %>
                  <i class="bi bi-twitter me-2"></i>_nanafox
                <% end %>
              </div>

              <div>
                <%= link_to "https://wa.me/233594059579", class: "text-white me-3 d-flex align-items-center text-decoration-none", target: "_blank" do %>
                  <i class="bi bi-whatsapp me-2"></i>Send me a message
                <% end %>
              </div>

              <div>
                <%= link_to "https://www.linkedin.com/in/maxwellnanaforson", class: "text-white me-3 d-flex align-items-center text-decoration-none", target: "_blank" do %>
                  <i class="bi bi-linkedin me-2"></i>Connect on LinkedIn
                <% end %>
              </div>

              <div>
                <%= link_to "https://www.mnforson.live", class: "text-white me-3 d-flex align-items-center text-decoration-none", target: "_blank" do %>
                  <i class="bi bi-house-door me-2"></i>Visit my Website
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <%= tag.div(class: "text-center mt-3") do %>
          <small>&copy;
            <%= Time.current.year %>
            Members Only. All rights reserved.</small>
        <% end %>
      <% end %>
    <% end %>
  </body>
</html>
