<div class="w-50 mx-auto mt-5">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="row g-3">
      <div class="field col">
        <%= f.label :first_name, class: "form-label" %><br>
        <%= f.text_field :first_name,
                     class: "form-control",
                     placeholder: "John",
                     autocomplete: "first_name" %>
      </div>
      <div class="field col">
        <%= f.label :last_name, class: "form-label" %><br/>
        <%= f.text_field :last_name,
                     autocomplete: "last_name",
                     class: "form-control",
                     placeholder: "Doe" %>
      </div>
    </div>

    <div class="row g-3">
      <div class="field col">
        <%= f.label :username, class: "form-label" %><br>
        <%= f.text_field :username,
                     class: "form-control",
                     placeholder: "jdoe",
                     require: true %>
      </div>
      <div class="field col">
        <%= f.label :email, class: "form-label" %><br/>
        <%= f.email_field :email,
                      placeholder: "joe@email.com",
                      autocomplete: "email",
                      class: "form-control" %>
      </div>
    </div>

    <div class="row g-3">
      <div class="field col">
        <%= f.label :password, class: "form-label" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>
            characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password,
                         autocomplete: "new-password",
                         class: "form-control",
                         placeholder: "Enter your password" %>
      </div>

      <div class="field col">
        <%= f.label :password_confirmation, class: "form-label" %><br/>
        <%= f.password_field :password_confirmation,
                         autocomplete: "new-password",
                         class: "form-control",
                         placeholder: "Enter the password again" %>
      </div>

    </div>

    <div class="actions mt-4">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
